.siteBorder {
	border: solid 4px #8D7B69;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.outsideBorder {
	background-color: #EEDCC8;
}

.greenBlock {
	background-color: #9BB291;
}

.whiteText {
	color: white;
}

.availabilityButton {
	color: green;
}

.greenButton{
    background: #627659;
    color: #ffffff;
    /*box-shadow: 1px 3px 0 0 #627659;*/
    box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.75);
}

.greenButton:hover { 
  border-color: #C0C0C0; 
  background-color: #C0C0C0; 
}

.brownButton{
    background: #8D7B69;
    /*box-shadow: 1px 3px 0 0 #785618;*/
    box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.75);
    color: white;
}

.imageRadius {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.imageShadow {
	-webkit-box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.75);
}

/*.brownButton:hover { 
  border-color: #C0C0C0; 
  background-color: #C0C0C0; 
}*/