
/*Media query removes thin brown boarder on mobile & tablets.
  May need to adjust. */
  
@media (min-width: 760px) {
	.siteBorder {
	border: solid 4px #8D7B69;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-margin-top: 100px;
	-moz-margin-top: 100px;
	margin-top: 100px;
	} 
}

/* @media (min-width: 480px) {
 	.smallScreen {
 	display: none;
 	}
}*/

 @media (min-width: 760px) {
 	.largeScreen {
 	display: none;
 	}
}

.outsideBorder {
	background-color: #EEDCC8;
	-webkit-padding-top: 0px; 
	-moz-padding-top: 0px; 
	padding-top: 0px; 
	-webkit-padding-bottom: 0px;
	-moz-padding-bottom: 0px;
	padding-bottom: 0px;
} 

.greenBlock {
	background-color: #9BB291;
}

.whiteText {
	color: white;
}

.availabilityButton {
	color: green;
}

.greenButton{
    background: #627659;
    color: #ffffff;
    /*box-shadow: 1px 3px 0 0 #627659;*/
    box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

.greenButton:hover { 
  border-color: #C0C0C0; 
  background-color: #C0C0C0; 
}

.brownButton{
    background: #786758;
    /*box-shadow: 1px 3px 0 0 #785618;*/
    -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
    color: white;
}

.imageRadius {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.imageShadow {
	-webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.75);
}

.listStyle {
	 /*padding-left: 0pt;*/
	 display: inline-block;
     text-align:left;
}

.mainTextStyle {
	display: inline-block;
    text-align:left;	
}

/*.brownButton:hover { 
  border-color: #C0C0C0; 
  background-color: #C0C0C0; 
}*/

.boldText {
	font-weight: 900;
}

.caption {
	-webkit-padding-top: 6px;
	-moz-padding-top: 6px; 
	padding-top: 6px;  
	-webkit-padding-bottom: 0px;
	-moz-padding-bottom: 0px;
	padding-bottom: 0px;
}

.thumbnail .caption {
	-webkit-padding: 0px;	
	-moz-padding: 0px;
	padding-bottom:0px;
	padding-top: 5px;
	padding-right:0px;
	padding-left:0px;
}

.pinSize {
	max-height: 18px;
}

.texasBBBLogoSize {
	max-height: 80px;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}


h4 {
	font-family: 'Open Sans', sans-serif;	
	-webkit-margin-top: 0px;
	-moz-margin-top: 0px;
	margin-top: 0px;
	-webkit-margin-bottom:0px;
	-moz-margin-bottom:0px;	
	-webkit-margin-bottom: 10px;
	-moz-margin-bottom: 10px;
	margin-bottom: 10px;
}

p {
	font-family: 'Open Sans', sans-serif;
}


/*.container {
	width:990px;
}*/


/*  Keeping 3 columns the same height when the main text box changes in size.  */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


