.outsideBorder {
	background-color: #EEDCC8;
}

.greenBlock {
	background-color: #9BB291;
}

.whiteText {
	color: white;
}

.availabilityButton {
	color: green;
}

.greenButton{
    background: #627659;
    color: #ffffff;
    box-shadow: 1px 3px 0 0 #627659;
}

.greenButton:hover { 
  border-color: #C0C0C0; 
  background-color: #C0C0C0; 
}

.brownButton{
    background: #8D7B69	;
    box-shadow: 1px 3px 0 0 #785618;
    color: white;
}


/*.brownButton:hover { 
  border-color: #C0C0C0; 
  background-color: #C0C0C0; 
}*/